<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/index.css" rel="stylesheet">
    <title>{{ .Title }}</title>
</head>
<body>
    <main> 
    <h1> {{ .Title }} </h1>
    {{ if .DisplayForm }}
    <form action="/" method="POST">
        <textarea name="update"></textarea>
        <div>
            <button type="submit"> Post Update </button>
        </div>
    </form>
    {{ end }}
    {{ range .Updates }}
    <div>
        <div> 
            <img src="/static/userIcon.png" width="50" height="50" style="vertical-align: middle;"> 
            <strong> {{ .GetUser.GetUsername }} </strong>
        </div>
        <div> {{ .GetBody }} </div>
        <div> 
            <i> {{ .GetTime }}</i>
        </div>
    </div>
    {{ end }}
    </main>
</body>
</html> 